body{
    margin: 0px;
}
header{
    padding: 5px;
    background-color: #3c44cc;
    color: white;
    height: 80px;
}
.btn {
    background: #3c43cc;
    background-image: -webkit-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -moz-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -ms-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -o-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: linear-gradient(to bottom, #3c43cc, #3c43cc);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 3px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3c43cc;
    background-image: -webkit-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -moz-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -ms-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: -o-linear-gradient(top, #3c43cc, #3c43cc);
    background-image: linear-gradient(to bottom, #3c43cc, #3c43cc);
    text-decoration: none;
  }
  .container{
      background-color:#3c44cc ;
      position: absolute;
      top: 250px;
      left: 640px;
      height: 200px;
      width: 210px;
      padding: 3%;
      border-radius: 10%;
  }
  input[type=password] {
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3c44cc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }